{# templates/web/card.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}办卡{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .main {
            width: 100%;
            padding: 0rem;
            background: #F3F3F3;
            height: 640px;
            height: calc(100vh);
        }

    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <h3>项目初始化</h3>
        <form method="post" class="form-horizontal">
            <div class="form-control">

            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
